
body{
      background: pink;}

#container{
      /* margin-left: 300px;   */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      
};





:root{
  --grid-cols: 1;
  --grid-rows: 1
}

#grid_container{
      display: grid;
      grid-template-columns: repeat(var(--grid-cols), 1fr);
      grid-template-rows: repeat(var(--grid-rows), 1fr);
      background:white;
      border: 1px solid black;
      width: 400px;
      height: 400px;          
      margin-top: 70px;
      
      }

      

      .grid-item {
            border: 1px solid black;
            text-align: center;
          }

#btn{
      color: white;
      background-color: black;
      font-weight: bolder;
      padding: 7px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      
}

